<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>免疫力I型体检套餐（男）</string>
		<key>oldprice</key>
		<string>3068.0</string>
		<key>newprice</key>
		<string>1728.0</string>
		<key>sum</key>
		<string>811</string>
		<key>image</key>
		<string>免疫力</string>
		<key>detail</key>
		<string>综合排查了解身体抵抗能力、免疫能力差的原因，通过后续健康管理提升受检者健康状况。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>入职体检套餐</string>
		<key>oldprice</key>
		<string>324.0</string>
		<key>newprice</key>
		<string>200.0</string>
		<key>sum</key>
		<string>1233</string>
		<key>image</key>
		<string>入职</string>
		<key>detail</key>
		<string>针对各企事业单位对员工入职时的健康要求所制定的体检套餐。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>婚前男性体检套餐</string>
		<key>oldprice</key>
		<string>627.0</string>
		<key>newprice</key>
		<string>320.0</string>
		<key>sum</key>
		<string>290</string>
		<key>image</key>
		<string>婚前男</string>
		<key>detail</key>
		<string>较全面了解婚前身体情况，筛查身体疾病从而保证婚后的健康生活。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>婚前女性体检套餐</string>
		<key>oldprice</key>
		<string>697.0</string>
		<key>newprice</key>
		<string>380.0</string>
		<key>sum</key>
		<string>431</string>
		<key>image</key>
		<string>婚前女</string>
		<key>detail</key>
		<string>较全面了解婚前身体情况，筛查身体疾病从而保证婚后的健康生活。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中青年体检套餐A（男）</string>
		<key>oldprice</key>
		<string>1057.0</string>
		<key>newprice</key>
		<string>538.0</string>
		<key>sum</key>
		<string>1190</string>
		<key>image</key>
		<string>中青年男</string>
		<key>detail</key>
		<string>此款套餐为综合型基础体检套餐，可为工作一族的身体做基础的保证。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中青年体检套餐A（女）</string>
		<key>oldprice</key>
		<string>1127.0</string>
		<key>newprice</key>
		<string>588.0</string>
		<key>sum</key>
		<string>766</string>
		<key>image</key>
		<string>中青年女</string>
		<key>detail</key>
		<string>此款套餐为综合型基础体检套餐，可为工作一族的身体做基础的保证。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>心脑血管体检套餐（女）</string>
		<key>oldprice</key>
		<string>4605.0</string>
		<key>newprice</key>
		<string>2888.0</string>
		<key>sum</key>
		<string>355</string>
		<key>image</key>
		<string>心脑血管</string>
		<key>detail</key>
		<string>此套餐可全面了解心脑血管健康状况以及相关疾病。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>健康防癌体检套餐（宫颈癌）</string>
		<key>oldprice</key>
		<string>1402.0</string>
		<key>newprice</key>
		<string>750.0</string>
		<key>sum</key>
		<string>320</string>
		<key>image</key>
		<string>健康防癌</string>
		<key>detail</key>
		<string>可通过此套餐及早了解女性生殖器健康，并对宫颈癌的患病可能做早期风险预测。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>更年期1型体检套餐</string>
		<key>oldprice</key>
		<string>3379.0</string>
		<key>newprice</key>
		<string>1788.0</string>
		<key>sum</key>
		<string>1330</string>
		<key>image</key>
		<string>更年期</string>
		<key>detail</key>
		<string>此款套餐主要防治中老年女性对于雌激素的缺乏与衰老性疾病的全面筛查，从而有效的达到健康。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>妇科体检套餐A</string>
		<key>oldprice</key>
		<string>455.0</string>
		<key>newprice</key>
		<string>210.0</string>
		<key>sum</key>
		<string>1700</string>
		<key>image</key>
		<string>妇科</string>
		<key>detail</key>
		<string>此套餐为妇科检查的基本套餐。</string>
	</dict>
</array>
</plist>
